<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wpis</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #data{
            font-size: 80%;
        }

        body {
            font-family: Arial, sans-serif;
        }

        /* Stylizacja nagłówka i menu */
        .navi{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #333;
            padding: 10px 20px;
        }

        .navi h1 {
            color: #fff;
            font-size: 24px;
        }

        .navi ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            padding: 10px 0;
        }

        .navi ul li {
            margin: 0 15px;
        }

        .navi ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            padding: 8px 12px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .navi ul li a:hover {
            background-color: #575757;
            border-radius: 4px;
        }

        .back {
            padding: 8px 16px; 
            background-color: #808000; 
            color: #fff; 
            border: none; 
            border-radius: 4px; 
            cursor: pointer; 
            font-size: 14px;
        }

        .back:hover {
            background-color: #807030;
        }
        .content {
            padding: 20px;
            text-align: center;
            background-color: #f4f4f4;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="content">
        <h2>Tytlu: {{wpis.title}}</h2>
        <h3>Kategria: {{wpis.category}}</h3><br>
        
        <p id="content">{{ wpis.content[:150]}}</p><br>
        <p id="data">Data dodania: {{ wpis.dateAdded|date('Y-m-d') }}</p><br>
    </div>
    
    <a href="/wpisy"><button class="back">Back</button></a>
    <a href="{{wpis.id}}/delete"><button class="back">Delete</button></a>
    <a href="{{wpis.id}}/edit"><button class="back">Edit</button></a>
    
</body>
</html>